@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resetleme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

/* Hamburger menu icon */
.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* Navigation items */
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items li {
    margin: 0 10px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
}

#menu-icon {
    display: none;
}

/* Responsive design */
@media only screen and (max-width: 768px) {

    /* Hide navigation items */
    .nav-items {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        padding: 10px 0;
    }

    .nav-items li {
        margin: 10px 0;
    }

    .nav-items a {
        color: #fff;
        font-size: 20px;
    }

    /* Show hamburger menu icon */
    .menu-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
    }

    /* Show navigation items when hamburger menu icon is checked */
    input[type="checkbox"]:checked~.nav-items {
        display: flex;
    }
}


/* Banner */
.banner {
    background-color: #1E1E1E;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.banner p {
    font-size: 28px;
    font-weight: 500;
}

.kayan-yazi {
    display: inline-block;
    overflow: hidden;
}

.kayan-yazi span {
    display: inline-block;
    animation: kayanYazi 3s linear infinite;
}

.kayan-yazi span:last-child {
    animation-duration: 4s;
}

@keyframes kayanYazi {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}


/* Ürün listesi */
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product {
    background-color: #252525;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.product img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.product h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #f1f1f1;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
    color: #ddd;
}

/* About Us */

.about-us {
    background-color: #f1f1f1;
    padding: 50px 0;
}

.about-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.about-us-container img {
    max-width: 100%;
    height: auto;
}

.about-us-container h2 {
    font-size: 36px;
    font-weight: 700;
    color: #121212;
    margin: 0 0 20px;
}

.about-us-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
    text-align: center;
    max-width: 800px;
}

/* Contact */

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact-box {
    background-color: #f1f1f1;
    padding: 30px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
}

.contact-box h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-box p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3e8e41;
}


/* Footer */
footer {
    background-color: #1E1E1E;
    color: #fff;
    padding: 20px;
    text-align: center;
}